
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-header img {
  object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    background-color: #D3573C;
    color:black
}

.contact_button:focus {
    background-color: #D3573C;
    color:black
}


.photograph-media__tri {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 2rem;
    width: 300px;
    justify-content: space-between;
}

#select-tri {
    background: #901c1c;
    color:white;
    border-radius: 5px;
    border:none;
    width: 10rem;
    font-size: 1rem;
    font-weight: 500;
    height:40px;

}

  .boxLikesAndPrice{
      background-color: #DB8876;
      color:black;
      display: flex;
      width:200px;
      justify-content: space-around;
      position : fixed;
      bottom:0;
      right:40px;
      border-radius: 5px;
  }


  .boxLikesAndPrice__div{
      display:flex;
    align-items: center;
  }

  .likeHeart {
    color: #901c1c;
  }