
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-header img {
  object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:hover {
    background-color: #D3573C;
    color:black
}

.contact_button:focus {
    background-color: #D3573C;
    color:black
}


  .bground-validation {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
  
  }


.photograph-media__tri {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-top: 2rem;
    width: 300px;
    justify-content: space-between;
}

#select-tri {
    background: #901c1c;
    color:white;
    border-radius: 5px;
    border:none;
    width: 10rem;
    font-size: 1rem;
    font-weight: 500;
    height:40px;

}
/*
  #sort-wrapper {
    align-items: center;
    background: #901c1c;
    border-radius: 5px;
    color: #fff;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    width: 10rem;
    justify-content: space-around;
}


  #select-tri {
    border-radius: 5px;
    padding:0;
    color: #fff;
    display: none;
    left: 8.2rem;
    position: absolute;
    top: 25.7rem;
    width: 10rem;
    z-index: 10;
    list-style-type: none;
    background: #901c1c;
} */


/* The container must be positioned relative:
.custom-select {
    position: relative;
    font-family: Arial;
    width:200px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  /* }
  
  .select-selected {
    background-color: DodgerBlue;
  }
   */
  /* Style the arrow inside the select element: */
  /* .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  } */
  
  /* Point the arrow upwards when the select box is open (active): */
  /* .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  } */
  
  /* style the items (options), including the selected item: */
  /* .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  } */
  
  /* Style items (options): */
  /* .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  } */ 
  
  /* Hide the items when the select box is closed: */
  /* .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
 */

  .boxLikesAndPrice{
      background-color: #DB8876;
      color:black;
      display: flex;
      width:200px;
      justify-content: space-around;
      position : fixed;
      bottom:0;
      right:40px;
  }


  .boxLikesAndPrice__div{
      display:flex;
    align-items: center;
  }
